In [4]:
import pandas as pd

In [5]:
df_500 = pd.read_csv('../data/raw/imdb_movies_detail_500.csv')
df_1000 = pd.read_csv('../data/raw/imdb_movies_detail_1000.csv')
df_2000 = pd.read_csv('../data/raw/imdb_movies_detail_2000.csv')
df_2416 = pd.read_csv('../data/raw/imdb_movies_detail_2416.csv')

In [6]:
df = pd.concat([df_500, df_1000, df_2000, df_2416], ignore_index=True)

In [7]:
df.shape

(2281, 13)

In [8]:
df.reset_index(drop=True, inplace=True)

In [9]:
df.head()

,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,synopsis,summary
0,https://m.media-amazon.com/images/M/MV5BZGI4ZD...,tt6723592,587713,10,1,7.3,"['Action', 'Sci-Fi', 'Thriller']","['time paradox', 'time reversal', 'car chase',...",https://www.imdb.com/video/vi2051194393/,"['John David Washington', 'Robert Pattinson', ...",['Christopher Nolan'],"In Kiev, Ukraine, an unnamed operative, The Pr...","Armed with only the word ""Tenet,"" and fighting..."
1,https://m.media-amazon.com/images/M/MV5BYzdjM2...,tt9620292,210337,10,1,7.5,"['Crime', 'Drama', 'Mystery']","['revenge', 'revenge from beyond the grave', '...",https://www.imdb.com/video/vi2072690969/,"['Carey Mulligan', 'Bo Burnham', 'Alison Brie']",['Emerald Fennell'],The film starts in a nightclub where friends J...,Nothing in Cassie's life is what it appears to...
2,https://m.media-amazon.com/images/M/MV5BYWYwOD...,tt9770150,182116,10,1,7.3,['Drama'],"['living in a van', 'van', 'nomad', 'road movi...",https://www.imdb.com/video/vi3233136665/,"['Frances McDormand', 'David Strathairn', 'Lin...",['Chloé Zhao'],"In 2011, Fern loses her job after the US Gypsu...","A woman in her sixties, after losing everythin..."
3,https://m.media-amazon.com/images/M/MV5BMTA3Nj...,tt10272386,190722,10,1,8.2,"['Drama', 'Mystery']","['dementia', 'alzheimer&apos;s disease', 'memo...",https://www.imdb.com/video/vi279101721/,"['Anthony Hopkins', 'Olivia Colman', 'Mark Gat...",['Florian Zeller'],Anne (Olivia Colman) visits her father Anthony...,A man refuses all assistance from his daughter...
4,https://m.media-amazon.com/images/M/MV5BNGJhMT...,tt8332922,270564,10,1,7.2,"['Drama', 'Horror', 'Sci-Fi']","['oxygen tank', 'deaf girl', 'trying to avoid ...",https://www.imdb.com/video/vi1345437721/,"['Emily Blunt', 'Millicent Simmonds', 'Cillian...",['John Krasinski'],Day 1Lee Abbott (John Krasanski) drives into a...,"Following the events at home, the Abbott famil..."

In [10]:
df_id = pd.read_csv('../data/raw/imdb_movies.csv')
df_id.head()

,id,title,year,runtime,rating,votes,plot
0,tt0172495,1. Gladiator,2000,2000,8.5 (1.6M),(1.6M),A former Roman General sets out to exact venge...
1,tt0209144,2. Memento,2000,2000,8.4 (1.3M),(1.3M),A man with short-term memory loss attempts to ...
2,tt0208092,3. Snatch,2000,2000,8.2 (906K),(906K),"Unscrupulous boxing promoters, violent bookmak..."
3,tt0144084,4. American Psycho,2000,2000,7.6 (709K),(709K),A wealthy New York City investment banking exe...
4,tt0187393,5. The Patriot,2000,2000,7.2 (292K),(292K),Peaceful farmer Benjamin Martin is driven to l...

In [11]:
df_yr = df_id[df_id['year'] != df_id['runtime']]
df_yr.shape

(0, 7)

In [12]:
# drop rating and cotes from df_id
df_id.drop(['rating', 'votes', 'plot', 'runtime'], axis=1, inplace=True)
df_id.head()

          id               title  year
0  tt0172495        1. Gladiator  2000
1  tt0209144          2. Memento  2000
2  tt0208092           3. Snatch  2000
3  tt0144084  4. American Psycho  2000
4  tt0187393      5. The Patriot  2000

In [13]:
print(df.columns)
print(df.shape)
print(df_id.columns)
print(df_id.shape)

Index(['image_link', 'imdb_id', 'rating_count', 'best_rating', 'worst_rating',
       'rating', 'genre', 'keywords', 'trailer_link', 'actors', 'director',
       'synopsis', 'summary'],
      dtype='object')
(2281, 13)
Index(['id', 'title', 'year'], dtype='object')
(2416, 3)

In [14]:
# merge df and df_id with id and imdb_id
df_complete = pd.merge(df_id, df, left_on='id', right_on='imdb_id', how='left')
print(df_complete.shape)
print(df_complete.columns)

(2792, 16)
Index(['id', 'title', 'year', 'image_link', 'imdb_id', 'rating_count',
       'best_rating', 'worst_rating', 'rating', 'genre', 'keywords',
       'trailer_link', 'actors', 'director', 'synopsis', 'summary'],
      dtype='object')

In [12]:
df_complete.to_csv('../data/raw/imdb_movies_complete.csv', index=False)

In [13]:
df_missing = pd.read_csv('../data/raw/imdb_movies_detail_500_new.csv')
df_missing.head()

,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,synopsis,summary
0,https://m.media-amazon.com/images/M/MV5BZGI4ZD...,tt6723592,587713,10,1,7.3,"['Action', 'Sci-Fi', 'Thriller']","['time paradox', 'time reversal', 'car chase',...",https://www.imdb.com/video/vi2051194393/,"['John David Washington', 'Robert Pattinson', ...",['Christopher Nolan'],"In Kiev, Ukraine, an unnamed operative, The Pr...","Armed with only the word ""Tenet,"" and fighting..."
1,https://m.media-amazon.com/images/M/MV5BYzdjM2...,tt9620292,210337,10,1,7.5,"['Crime', 'Drama', 'Mystery']","['revenge', 'revenge from beyond the grave', '...",https://www.imdb.com/video/vi2072690969/,"['Carey Mulligan', 'Bo Burnham', 'Alison Brie']",['Emerald Fennell'],The film starts in a nightclub where friends J...,Nothing in Cassie's life is what it appears to...
2,https://m.media-amazon.com/images/M/MV5BYWYwOD...,tt9770150,182116,10,1,7.3,['Drama'],"['living in a van', 'van', 'nomad', 'road movi...",https://www.imdb.com/video/vi3233136665/,"['Frances McDormand', 'David Strathairn', 'Lin...",['Chloé Zhao'],"In 2011, Fern loses her job after the US Gypsu...","A woman in her sixties, after losing everythin..."
3,https://m.media-amazon.com/images/M/MV5BMTA3Nj...,tt10272386,190722,10,1,8.2,"['Drama', 'Mystery']","['dementia', 'alzheimer&apos;s disease', 'memo...",https://www.imdb.com/video/vi279101721/,"['Anthony Hopkins', 'Olivia Colman', 'Mark Gat...",['Florian Zeller'],Anne (Olivia Colman) visits her father Anthony...,A man refuses all assistance from his daughter...
4,https://m.media-amazon.com/images/M/MV5BNGJhMT...,tt8332922,270564,10,1,7.2,"['Drama', 'Horror', 'Sci-Fi']","['oxygen tank', 'deaf girl', 'trying to avoid ...",https://www.imdb.com/video/vi1345437721/,"['Emily Blunt', 'Millicent Simmonds', 'Cillian...",['John Krasinski'],Day 1Lee Abbott (John Krasanski) drives into a...,"Following the events at home, the Abbott famil..."

In [14]:
df_missing['summary'].isnull().sum()

5

In [15]:
df_missing['synopsis'].isnull().sum()

242

In [16]:
print(df_complete.columns)
print(df_missing.columns)

Index(['id', 'title', 'year', 'image_link', 'imdb_id', 'rating_count',
       'best_rating', 'worst_rating', 'rating', 'genre', 'keywords',
       'trailer_link', 'actors', 'director', 'synopsis', 'summary'],
      dtype='object')
Index(['image_link', 'imdb_id', 'rating_count', 'best_rating', 'worst_rating',
       'rating', 'genre', 'keywords', 'trailer_link', 'actors', 'director',
       'synopsis', 'summary'],
      dtype='object')

In [17]:
df_complete.columns

Index(['id', 'title', 'year', 'image_link', 'imdb_id', 'rating_count',
       'best_rating', 'worst_rating', 'rating', 'genre', 'keywords',
       'trailer_link', 'actors', 'director', 'synopsis', 'summary'],
      dtype='object')

In [18]:
# create new df with only imdb_id, summary and synopsis from df_missing
df_missing = df_missing[['imdb_id', 'summary', 'synopsis']]

In [19]:
print(df_complete['synopsis'].isnull().sum())
print(df_complete['summary'].isnull().sum())

1194
530

In [20]:
# Merge the dataframes
df_complete = pd.merge(df_complete, df_missing, on='imdb_id', how='left', suffixes=('', '_missing'))

# Update 'summary' and 'synopsis' columns
df_complete['summary'] = df_complete['summary_missing'].combine_first(df_complete['summary'])
df_complete['synopsis'] = df_complete['synopsis_missing'].combine_first(df_complete['synopsis'])

# Drop the extra columns
df_complete = df_complete.drop(columns=['summary_missing', 'synopsis_missing'])

In [21]:
print(df_complete['synopsis'].isnull().sum())
print(df_complete['summary'].isnull().sum())

1194
528

In [22]:
df_complete.shape

(2416, 16)

In [23]:
df_complete.columns

Index(['id', 'title', 'year', 'image_link', 'imdb_id', 'rating_count',
       'best_rating', 'worst_rating', 'rating', 'genre', 'keywords',
       'trailer_link', 'actors', 'director', 'synopsis', 'summary'],
      dtype='object')

In [24]:
df_complete.to_csv('../data/raw/imdb_movies_complete.csv', index=False)

In [20]:
df_complete = pd.read_csv('../data/raw/imdb_movies_complete.csv')

In [21]:
df_complete[df_complete['summary'].isnull()]

,id,title,year,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,summary,synopsis
3,tt0144084,4. American Psycho,2000,https://m.media-amazon.com/images/M/MV5BZTM2ZG...,tt0144084,709394.0,10.0,1.0,7.6,"['Crime', 'Drama', 'Horror']","['narcissism', 'materialism', 'serial murder',...",https://www.imdb.com/video/vi4060743449/,"['Christian Bale', 'Justin Theroux', 'Josh Luc...",['Mary Harron'],NaN,A white background. Red drops begin to fall pa...
20,tt0190332,"21. Crouching Tiger, Hidden Dragon",2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,tt0217505,7. Gangs of New York,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,tt0327920,69. I Am Trying to Break Your Heart,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,tt0335266,9. Lost in Translation,2003,https://m.media-amazon.com/images/M/MV5BMTUxMz...,tt0335266,486247.0,10.0,1.0,7.7,"['Comedy', 'Drama']","['older man younger woman relationship', 'lone...",https://www.imdb.com/video/vi2994779673/,"['Bill Murray', 'Scarlett Johansson', 'Giovann...",['Sofia Coppola'],NaN,"Bob, a 55 year old, looking bored, oblivious, ..."
268,tt0374900,7. Napoleon Dynamite,2004,https://m.media-amazon.com/images/M/MV5BNjYwNT...,tt0374900,236778.0,10.0,1.0,7.0,['Comedy'],"['family relationships', 'teenager', 'high sch...",https://www.imdb.com/video/vi1469841689/,"['Jon Heder', 'Efren Ramirez', 'Jon Gries']",['Jared Hess'],NaN,Napoleon Dynamite is a socially awkward high s...
307,tt0390521,46. Super Size Me,2004,https://m.media-amazon.com/images/M/MV5BMTYyOT...,tt0390521,112997.0,10.0,1.0,7.2,['Documentary'],"['fast food', 'mcdonald&apos;s restaurant', 'n...",https://www.imdb.com/video/vi1787560217/,"['Morgan Spurlock', 'Daryl Isaacs', 'Chemeeka ...",['Morgan Spurlock'],NaN,"As the film begins, Spurlock, age 32 at the ti..."
314,tt0340012,53. Being Julia,2004,https://m.media-amazon.com/images/M/MV5BODQ2ND...,tt0340012,12909.0,10.0,1.0,7.0,"['Comedy', 'Drama', 'Romance']","['gay character', 'open marriage', 'infidelity...",https://www.imdb.com/video/vi3602448665/,"['Annette Bening', 'Michael Gambon', 'Maury Ch...",['István Szabó'],NaN,NaN
361,tt0399295,15. Lord of War,2005,https://m.media-amazon.com/images/M/MV5BMTYzZW...,tt0399295,335698.0,10.0,1.0,7.6,"['Crime', 'Drama']","['arms dealer', 'gunrunner', 'prostitution', '...",https://www.imdb.com/video/vi3548774937/,"['Nicolas Cage', 'Ethan Hawke', 'Jared Leto']",['Andrew Niccol'],NaN,The film begins with a voice-over introduction...
543,tt1028528,5. Death Proof,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,tt0448134,6. Sunshine,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,tt1337117,"78. Nightmares in Red, White and Blue: The Evo...",2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028,tt1413496,106. Revenge of the Electric Car,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,tt2090463,110. Big Boys Gone Bananas!*,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1291,tt2294449,29. 22 Jump Street,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420,tt0478970,23. Ant-Man,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,tt3460922,"97. Sympathy, Said the Shark",2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1590,tt5278464,71. Holy Hell,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1668,tt3450958,24. War for the Planet of the Apes,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1811,tt6343314,41. Creed II,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2053,tt9179096,23. Minamata,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2380,tt25470468,54. Beyond Utopia,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_missing_all = pd.read_csv('../data/raw/imdb_movies_detail_missing.csv')
df_missing_all.head()

,imdb_id,synopsis,summary
0,tt0172495,"Shouting ""Roma Invicta!"" as his forces attack,...",A former Roman General sets out to exact venge...
1,tt0209144,"Leonard Shelby (Guy Pearce), a man whose short...",A man with short-term memory loss attempts to ...
2,tt0208092,After stealing an 86-carat (17 g) diamond in a...,"Unscrupulous boxing promoters, violent bookmak..."
3,tt0144084,NaN,NaN
4,tt0187393,"Benjamin Martin (Mel Gibson), a veteran of the...",Peaceful farmer Benjamin Martin is driven to l...

In [23]:
df_complete[df_complete['summary'].isnull()]

,id,title,year,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,summary,synopsis
3,tt0144084,4. American Psycho,2000,https://m.media-amazon.com/images/M/MV5BZTM2ZG...,tt0144084,709394.0,10.0,1.0,7.6,"['Crime', 'Drama', 'Horror']","['narcissism', 'materialism', 'serial murder',...",https://www.imdb.com/video/vi4060743449/,"['Christian Bale', 'Justin Theroux', 'Josh Luc...",['Mary Harron'],NaN,A white background. Red drops begin to fall pa...
20,tt0190332,"21. Crouching Tiger, Hidden Dragon",2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,tt0217505,7. Gangs of New York,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,tt0327920,69. I Am Trying to Break Your Heart,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,tt0335266,9. Lost in Translation,2003,https://m.media-amazon.com/images/M/MV5BMTUxMz...,tt0335266,486247.0,10.0,1.0,7.7,"['Comedy', 'Drama']","['older man younger woman relationship', 'lone...",https://www.imdb.com/video/vi2994779673/,"['Bill Murray', 'Scarlett Johansson', 'Giovann...",['Sofia Coppola'],NaN,"Bob, a 55 year old, looking bored, oblivious, ..."
268,tt0374900,7. Napoleon Dynamite,2004,https://m.media-amazon.com/images/M/MV5BNjYwNT...,tt0374900,236778.0,10.0,1.0,7.0,['Comedy'],"['family relationships', 'teenager', 'high sch...",https://www.imdb.com/video/vi1469841689/,"['Jon Heder', 'Efren Ramirez', 'Jon Gries']",['Jared Hess'],NaN,Napoleon Dynamite is a socially awkward high s...
307,tt0390521,46. Super Size Me,2004,https://m.media-amazon.com/images/M/MV5BMTYyOT...,tt0390521,112997.0,10.0,1.0,7.2,['Documentary'],"['fast food', 'mcdonald&apos;s restaurant', 'n...",https://www.imdb.com/video/vi1787560217/,"['Morgan Spurlock', 'Daryl Isaacs', 'Chemeeka ...",['Morgan Spurlock'],NaN,"As the film begins, Spurlock, age 32 at the ti..."
314,tt0340012,53. Being Julia,2004,https://m.media-amazon.com/images/M/MV5BODQ2ND...,tt0340012,12909.0,10.0,1.0,7.0,"['Comedy', 'Drama', 'Romance']","['gay character', 'open marriage', 'infidelity...",https://www.imdb.com/video/vi3602448665/,"['Annette Bening', 'Michael Gambon', 'Maury Ch...",['István Szabó'],NaN,NaN
361,tt0399295,15. Lord of War,2005,https://m.media-amazon.com/images/M/MV5BMTYzZW...,tt0399295,335698.0,10.0,1.0,7.6,"['Crime', 'Drama']","['arms dealer', 'gunrunner', 'prostitution', '...",https://www.imdb.com/video/vi3548774937/,"['Nicolas Cage', 'Ethan Hawke', 'Jared Leto']",['Andrew Niccol'],NaN,The film begins with a voice-over introduction...
543,tt1028528,5. Death Proof,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,tt0448134,6. Sunshine,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,tt1337117,"78. Nightmares in Red, White and Blue: The Evo...",2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028,tt1413496,106. Revenge of the Electric Car,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,tt2090463,110. Big Boys Gone Bananas!*,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1291,tt2294449,29. 22 Jump Street,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420,tt0478970,23. Ant-Man,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,tt3460922,"97. Sympathy, Said the Shark",2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1590,tt5278464,71. Holy Hell,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1668,tt3450958,24. War for the Planet of the Apes,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1811,tt6343314,41. Creed II,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2053,tt9179096,23. Minamata,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2380,tt25470468,54. Beyond Utopia,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
print(df_complete['synopsis'].isnull().sum())
print(df_complete['summary'].isnull().sum())

1184
22

In [25]:
print(df_missing_all['synopsis'].isnull().sum())
print(df_missing_all['summary'].isnull().sum())

201
6

In [33]:
# Merge df_complete and df_missing_all with imdb_id
df_merged = pd.merge(df_complete, df_missing_all, on='imdb_id', how='left')

# Merge the columns summary and synopsis
df_merged['summary'] = df_merged['summary_y'].combine_first(df_merged['summary_x'])
df_merged['synopsis'] = df_merged['synopsis_y'].combine_first(df_merged['synopsis_x'])

# Drop the extra columns
df_merged = df_merged.drop(columns=['summary_x', 'summary_y', 'synopsis_x', 'synopsis_y'])

df_merged.head()

,id,title,year,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,summary,synopsis
0,tt0172495,1. Gladiator,2000,https://m.media-amazon.com/images/M/MV5BMDliMm...,tt0172495,1610899.0,10.0,1.0,8.5,"['Action', 'Adventure', 'Drama']","['roman empire', 'gladiator', 'slavery', 'comb...",https://www.imdb.com/video/vi2628367897/,"['Russell Crowe', 'Joaquin Phoenix', 'Connie N...",['Ridley Scott'],A former Roman General sets out to exact venge...,"Shouting ""Roma Invicta!"" as his forces attack,..."
1,tt0209144,2. Memento,2000,https://m.media-amazon.com/images/M/MV5BZTcyNj...,tt0209144,1316937.0,10.0,1.0,8.4,"['Mystery', 'Thriller']","['memory', 'short term memory loss', 'hidden t...",https://www.imdb.com/video/vi3220356889/,"['Guy Pearce', 'Carrie-Anne Moss', 'Joe Pantol...",['Christopher Nolan'],A man with short-term memory loss attempts to ...,"Leonard Shelby (Guy Pearce), a man whose short..."
2,tt0208092,3. Snatch,2000,https://m.media-amazon.com/images/M/MV5BMTA2ND...,tt0208092,906115.0,10.0,1.0,8.2,"['Comedy', 'Crime']","['diamond', 'boxer', 'narrated by character', ...",https://www.imdb.com/video/vi1558577433/,"['Jason Statham', 'Brad Pitt', 'Stephen Graham']",['Guy Ritchie'],"Unscrupulous boxing promoters, violent bookmak...",After stealing an 86-carat (17 g) diamond in a...
3,tt0144084,4. American Psycho,2000,https://m.media-amazon.com/images/M/MV5BZTM2ZG...,tt0144084,709394.0,10.0,1.0,7.6,"['Crime', 'Drama', 'Horror']","['narcissism', 'materialism', 'serial murder',...",https://www.imdb.com/video/vi4060743449/,"['Christian Bale', 'Justin Theroux', 'Josh Luc...",['Mary Harron'],NaN,A white background. Red drops begin to fall pa...
4,tt0187393,5. The Patriot,2000,https://m.media-amazon.com/images/M/MV5BNjUxYz...,tt0187393,292416.0,10.0,1.0,7.2,"['Action', 'Drama', 'History']","['american revolution', '18th century', 'briti...",https://www.imdb.com/video/vi100139289/,"['Mel Gibson', 'Heath Ledger', 'Joely Richards...",['Roland Emmerich'],Peaceful farmer Benjamin Martin is driven to l...,"Benjamin Martin (Mel Gibson), a veteran of the..."

In [34]:
print(df_merged['synopsis'].isnull().sum())
print(df_merged['summary'].isnull().sum())

1184
22

In [37]:
len(df_merged[df_merged['synopsis'].isnull() & df_merged['summary'].isnull()])

17

In [36]:
df_merged.to_csv('../data/merged/imdb_movies_complete.csv', index=False)

In [40]:
df_complete_missing = df_merged[df_merged['synopsis'].isnull() & df_merged['summary'].isnull()]
df_complete_missing

,id,title,year,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,summary,synopsis
20,tt0190332,"21. Crouching Tiger, Hidden Dragon",2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,tt0217505,7. Gangs of New York,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,tt0327920,69. I Am Trying to Break Your Heart,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,tt0340012,53. Being Julia,2004,https://m.media-amazon.com/images/M/MV5BODQ2ND...,tt0340012,12909.0,10.0,1.0,7.0,"['Comedy', 'Drama', 'Romance']","['gay character', 'open marriage', 'infidelity...",https://www.imdb.com/video/vi3602448665/,"['Annette Bening', 'Michael Gambon', 'Maury Ch...",['István Szabó'],NaN,NaN
543,tt1028528,5. Death Proof,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,tt0448134,6. Sunshine,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,tt1337117,"78. Nightmares in Red, White and Blue: The Evo...",2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028,tt1413496,106. Revenge of the Electric Car,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,tt2090463,110. Big Boys Gone Bananas!*,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1291,tt2294449,29. 22 Jump Street,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420,tt0478970,23. Ant-Man,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,tt3460922,"97. Sympathy, Said the Shark",2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1590,tt5278464,71. Holy Hell,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1668,tt3450958,24. War for the Planet of the Apes,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1811,tt6343314,41. Creed II,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2053,tt9179096,23. Minamata,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2380,tt25470468,54. Beyond Utopia,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN