In [39]:
import pandas as pd

In [40]:
df_ids = pd.read_csv('../data/raw/imdb_movies_ids_min_votes_500.csv')
print(df_ids.shape)
df_ids.head()

(7554, 7)

,id,title,year,runtime,rating,votes,plot
0,tt0172495,1. Gladiator,2000,2000,8.5 (1.6M),1600000,A former Roman General sets out to exact venge...
1,tt0217869,2. Unbreakable,2000,2000,7.3 (441K),441000,A man learns something extraordinary about him...
2,tt0208092,3. Snatch,2000,2000,8.2 (909K),909000,"Unscrupulous boxing promoters, violent bookmak..."
3,tt0144084,4. American Psycho,2000,2000,7.6 (714K),714000,A wealthy New York City investment banking exe...
4,tt0180093,5. Requiem for a Dream,2000,2000,8.3 (897K),897000,The drug-induced utopias of four Coney Island ...

In [41]:
df_detail = pd.read_csv('../data/raw/imdb_movies_detail_min_votes_500.csv')
print(df_detail.shape)
df_detail.head()

(7554, 13)

,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,synopsis,summary
0,https://m.media-amazon.com/images/M/MV5BMDliMm...,tt0172495,1617220,10,1,8.5,"['Action', 'Adventure', 'Drama']","['roman empire', 'gladiator', 'slavery', 'comb...",https://www.imdb.com/video/vi2628367897/,"['Russell Crowe', 'Joaquin Phoenix', 'Connie N...",['Ridley Scott'],"Shouting ""Roma Invicta!"" as his forces attack,...",A former Roman General sets out to exact venge...
1,https://m.media-amazon.com/images/M/MV5BMDIwMj...,tt0217869,440860,10,1,7.3,"['Drama', 'Mystery', 'Sci-Fi']","['supernatural power', 'train crash', 'superhe...",https://www.imdb.com/video/vi1103346201/,"['Bruce Willis', 'Samuel L. Jackson', 'Robin W...",['M. Night Shyamalan'],The film opens as we see a baby being born in ...,A man learns something extraordinary about him...
2,https://m.media-amazon.com/images/M/MV5BMTA2ND...,tt0208092,909299,10,1,8.2,"['Comedy', 'Crime']","['diamond', 'boxer', 'narrated by character', ...",https://www.imdb.com/video/vi1558577433/,"['Jason Statham', 'Brad Pitt', 'Stephen Graham']",['Guy Ritchie'],After stealing an 86-carat (17 g) diamond in a...,"Unscrupulous boxing promoters, violent bookmak..."
3,https://m.media-amazon.com/images/M/MV5BZTM2ZG...,tt0144084,713635,10,1,7.6,"['Crime', 'Drama', 'Horror']","['narcissism', 'materialism', 'serial murder',...",https://www.imdb.com/video/vi4060743449/,"['Christian Bale', 'Justin Theroux', 'Josh Luc...",['Mary Harron'],A white background. Red drops begin to fall pa...,A wealthy New York City investment banking exe...
4,https://m.media-amazon.com/images/M/MV5BOTdiNz...,tt0180093,897414,10,1,8.3,['Drama'],"['drug addiction', 'sex show', 'sex scene', 'p...",https://www.imdb.com/video/vi2156069145/,"['Ellen Burstyn', 'Jared Leto', 'Jennifer Conn...",['Darren Aronofsky'],Harry Goldfarb (Jared Leto) and Tyrone Love (M...,The drug-induced utopias of four Coney Island ...

In [42]:
print(df_ids.columns)
print(df_detail.columns)

Index(['id', 'title', 'year', 'runtime', 'rating', 'votes', 'plot'], dtype='object')
Index(['image_link', 'imdb_id', 'rating_count', 'best_rating', 'worst_rating',
       'rating', 'genre', 'keywords', 'trailer_link', 'actors', 'director',
       'synopsis', 'summary'],
      dtype='object')

In [43]:
# removing rating and votes column from df_ids
df_ids = df_ids.drop(columns=['rating', 'votes'])

In [44]:
print(df_ids.columns)
print(df_detail.columns)

Index(['id', 'title', 'year', 'runtime', 'plot'], dtype='object')
Index(['image_link', 'imdb_id', 'rating_count', 'best_rating', 'worst_rating',
       'rating', 'genre', 'keywords', 'trailer_link', 'actors', 'director',
       'synopsis', 'summary'],
      dtype='object')

In [45]:
# merge df_ids and df_detail
df = pd.merge(df_ids, df_detail, left_on='id', right_on='imdb_id', how='inner')
print(df.shape)
df.head()

(7554, 18)

,id,title,year,runtime,plot,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,synopsis,summary
0,tt0172495,1. Gladiator,2000,2000,A former Roman General sets out to exact venge...,https://m.media-amazon.com/images/M/MV5BMDliMm...,tt0172495,1617220,10,1,8.5,"['Action', 'Adventure', 'Drama']","['roman empire', 'gladiator', 'slavery', 'comb...",https://www.imdb.com/video/vi2628367897/,"['Russell Crowe', 'Joaquin Phoenix', 'Connie N...",['Ridley Scott'],"Shouting ""Roma Invicta!"" as his forces attack,...",A former Roman General sets out to exact venge...
1,tt0217869,2. Unbreakable,2000,2000,A man learns something extraordinary about him...,https://m.media-amazon.com/images/M/MV5BMDIwMj...,tt0217869,440860,10,1,7.3,"['Drama', 'Mystery', 'Sci-Fi']","['supernatural power', 'train crash', 'superhe...",https://www.imdb.com/video/vi1103346201/,"['Bruce Willis', 'Samuel L. Jackson', 'Robin W...",['M. Night Shyamalan'],The film opens as we see a baby being born in ...,A man learns something extraordinary about him...
2,tt0208092,3. Snatch,2000,2000,"Unscrupulous boxing promoters, violent bookmak...",https://m.media-amazon.com/images/M/MV5BMTA2ND...,tt0208092,909299,10,1,8.2,"['Comedy', 'Crime']","['diamond', 'boxer', 'narrated by character', ...",https://www.imdb.com/video/vi1558577433/,"['Jason Statham', 'Brad Pitt', 'Stephen Graham']",['Guy Ritchie'],After stealing an 86-carat (17 g) diamond in a...,"Unscrupulous boxing promoters, violent bookmak..."
3,tt0144084,4. American Psycho,2000,2000,A wealthy New York City investment banking exe...,https://m.media-amazon.com/images/M/MV5BZTM2ZG...,tt0144084,713635,10,1,7.6,"['Crime', 'Drama', 'Horror']","['narcissism', 'materialism', 'serial murder',...",https://www.imdb.com/video/vi4060743449/,"['Christian Bale', 'Justin Theroux', 'Josh Luc...",['Mary Harron'],A white background. Red drops begin to fall pa...,A wealthy New York City investment banking exe...
4,tt0180093,5. Requiem for a Dream,2000,2000,The drug-induced utopias of four Coney Island ...,https://m.media-amazon.com/images/M/MV5BOTdiNz...,tt0180093,897414,10,1,8.3,['Drama'],"['drug addiction', 'sex show', 'sex scene', 'p...",https://www.imdb.com/video/vi2156069145/,"['Ellen Burstyn', 'Jared Leto', 'Jennifer Conn...",['Darren Aronofsky'],Harry Goldfarb (Jared Leto) and Tyrone Love (M...,The drug-induced utopias of four Coney Island ...

In [46]:
# remove id column from df
df = df.drop(columns=['id'])

In [47]:
df['title'] = df['title'].str.replace('[\d.\s]+', '', regex=True)
df['title']

0                            Gladiator
1                          Unbreakable
2                               Snatch
3                       AmericanPsycho
4                     RequiemforaDream
                     ...
7549       Giannis:TheMarvelousJourney
7550                    ProjectDorothy
7551                          Reloaded
7552    JacquelineNovak:GetonYourKnees
7553                 IrklaisperAtlanta
Name: title, Length: 7554, dtype: object

In [48]:
# check if runtime and year has same values
(df['year'] == df['runtime']).sum()

7554

# year and runtime both have same values. so dropping runtime

In [49]:
df.drop(['runtime'], axis=1, inplace=True)

In [50]:
df.head()

,title,year,plot,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,synopsis,summary
0,Gladiator,2000,A former Roman General sets out to exact venge...,https://m.media-amazon.com/images/M/MV5BMDliMm...,tt0172495,1617220,10,1,8.5,"['Action', 'Adventure', 'Drama']","['roman empire', 'gladiator', 'slavery', 'comb...",https://www.imdb.com/video/vi2628367897/,"['Russell Crowe', 'Joaquin Phoenix', 'Connie N...",['Ridley Scott'],"Shouting ""Roma Invicta!"" as his forces attack,...",A former Roman General sets out to exact venge...
1,Unbreakable,2000,A man learns something extraordinary about him...,https://m.media-amazon.com/images/M/MV5BMDIwMj...,tt0217869,440860,10,1,7.3,"['Drama', 'Mystery', 'Sci-Fi']","['supernatural power', 'train crash', 'superhe...",https://www.imdb.com/video/vi1103346201/,"['Bruce Willis', 'Samuel L. Jackson', 'Robin W...",['M. Night Shyamalan'],The film opens as we see a baby being born in ...,A man learns something extraordinary about him...
2,Snatch,2000,"Unscrupulous boxing promoters, violent bookmak...",https://m.media-amazon.com/images/M/MV5BMTA2ND...,tt0208092,909299,10,1,8.2,"['Comedy', 'Crime']","['diamond', 'boxer', 'narrated by character', ...",https://www.imdb.com/video/vi1558577433/,"['Jason Statham', 'Brad Pitt', 'Stephen Graham']",['Guy Ritchie'],After stealing an 86-carat (17 g) diamond in a...,"Unscrupulous boxing promoters, violent bookmak..."
3,AmericanPsycho,2000,A wealthy New York City investment banking exe...,https://m.media-amazon.com/images/M/MV5BZTM2ZG...,tt0144084,713635,10,1,7.6,"['Crime', 'Drama', 'Horror']","['narcissism', 'materialism', 'serial murder',...",https://www.imdb.com/video/vi4060743449/,"['Christian Bale', 'Justin Theroux', 'Josh Luc...",['Mary Harron'],A white background. Red drops begin to fall pa...,A wealthy New York City investment banking exe...
4,RequiemforaDream,2000,The drug-induced utopias of four Coney Island ...,https://m.media-amazon.com/images/M/MV5BOTdiNz...,tt0180093,897414,10,1,8.3,['Drama'],"['drug addiction', 'sex show', 'sex scene', 'p...",https://www.imdb.com/video/vi2156069145/,"['Ellen Burstyn', 'Jared Leto', 'Jennifer Conn...",['Darren Aronofsky'],Harry Goldfarb (Jared Leto) and Tyrone Love (M...,The drug-induced utopias of four Coney Island ...

In [51]:
# rename plot to description
df.rename(columns={'plot': 'description'}, inplace=True)

In [52]:
df.columns

Index(['title', 'year', 'description', 'image_link', 'imdb_id', 'rating_count',
       'best_rating', 'worst_rating', 'rating', 'genre', 'keywords',
       'trailer_link', 'actors', 'director', 'synopsis', 'summary'],
      dtype='object')

In [53]:
df.shape

(7554, 16)

In [54]:
df.to_csv('../data/merged/imdb_movies_min_votes_500.csv', index=False)

In [55]:
df = pd.read_csv('../data/merged/imdb_movies_min_votes_500.csv')
df.shape

(7554, 16)

In [56]:
df.isnull().sum()

title             16
year               0
description        1
image_link         0
imdb_id            0
rating_count       0
best_rating        0
worst_rating       0
rating             0
genre              1
keywords           0
trailer_link     776
actors             0
director           0
synopsis        4122
summary            3
dtype: int64

In [57]:
df[df['description'].isnull() & df['synopsis'].isnull() & df['summary'].isnull()]

,title,year,description,image_link,imdb_id,rating_count,best_rating,worst_rating,rating,genre,keywords,trailer_link,actors,director,synopsis,summary
183,TheUndefeated,2000,NaN,https://m.media-amazon.com/images/M/MV5BYmViMD...,tt0282023,526,10,1,6.9,"['Drama', 'History', 'War']",[''],NaN,"['Volodymyr Abazopulo', 'Anatoli Barchuk', 'St...",['Oles Yanchuk'],NaN,NaN

In [58]:
# drop rows with null description, synopsis and summary null
df = df.dropna(subset=['description', 'synopsis', 'summary'], how='all')

In [59]:
df[df['title'].isnull()].shape

(16, 16)

In [60]:
from imdb import IMDb

ia = IMDb()

def get_title(imdb_id):
    imdb_id = imdb_id.replace('tt', '')
    movie = ia.get_movie(int(imdb_id))
    return movie['title'] if movie else ''

df.loc[df['title'].isnull(), 'title'] = df[df['title'].isnull()]['imdb_id'].apply(get_title)

/var/folders/qn/zrg5ms9n4mj424yzj3h57fh80000gn/T/ipykernel_13737/442985683.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1408' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df[df['title'].isnull()] = df[df['title'].isnull()]['imdb_id'].apply(get_title)
/var/folders/qn/zrg5ms9n4mj424yzj3h57fh80000gn/T/ipykernel_13737/442985683.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '13' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df[df['title'].isnull()] = df[df['title'].isnull()]['imdb_id'].apply(get_title)
/var/folders/qn/zrg5ms9n4mj424yzj3h57fh80000gn/T/ipykernel_13737/442985683.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '360' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df[df['title'].isnull()] = df[df['title'].isnull()]['imdb_id'].apply(get_title)
/var/folders/qn/zrg5ms9n4mj424yzj3h57fh80000gn/T/ipykernel_13737/442985683.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '42' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df[df['title'].isnull()] = df[df['title'].isnull()]['imdb_id'].apply(get_title)
/var/folders/qn/zrg5ms9n4mj424yzj3h57fh80000gn/T/ipykernel_13737/442985683.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[df['title'].isnull()] = df[df['title'].isnull()]['imdb_id'].apply(get_title)

In [61]:
df.isnull().sum()

title              0
year               0
description        0
image_link         0
imdb_id            0
rating_count       0
best_rating        0
worst_rating       0
rating             0
genre              1
keywords           0
trailer_link     773
actors             0
director           0
synopsis        4112
summary            2
dtype: int64

In [62]:
df.to_csv('../data/merged/imdb_movies_min_votes_500.csv', index=False)